.footer {

  background-color: black;
  
  height: 60vh;
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-around;
}

.handles {
  width: 200px;
  /* background-color: aqua; */
}

.contacts {
  width: 200px;
  line-height: 2rem;
}

.message {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;

  h2 {
    margin-bottom: 10px;
  }

  .forms {
    background-color: #7878cc;
    padding: 10px;
    input {
      width: 14rem;
      border: none;
      border-radius: 10px;
      font-family: inherit;
      padding: 10px;
      // margin: 5px;
    }

    input:nth-child(3) {
      height: 70px;
    }

    button {
      padding: 10px 20px;
      border-radius: 10px;
    }
  }
}

.off-web {
  margin-top: 20px;
  margin-left: 20px;
}

/* STYLING IMAGES */

.handles .main-logo {
  width: 8rem;
  margin-left: 32px;
}

.socials img {
  width: 30px;
}

/* COMMON STYLING */

.handles,
.contacts,
.forms {
  display: flex;
  flex-direction: column;
}
