@import "./variables";

.transfer_sec {
    //  background-color: red;

    .popup {
        background-color: rgb(197, 196, 196);
        color: red;
    }

    .popup p.success {
        // background-color: green;
        color: green;
    }
}

.transfer_box {
    display: flex;
    justify-content: center;
    padding: 100px 0px;

    h2 {
        font-family: inherit;
    }

    form {
        width: 380px;
        height: 350px;
        background-color: #7878cc;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        select {
            /* color: black; */
            width: 16rem;
            height: 2.5rem;
            padding-left: 16px;
            border-radius: 10px;
            background: rgb(160, 159, 159);
            font-size: 16px;
            color: white;
        }

        .amount {
            color: black;
            width: 16rem;
            height: 2.5rem;
            padding-left: 16px;
            outline: none;
            font-size: 16px;
            border-radius: 10px;
        }
    }
}

.submitBtn {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #006cfa;
    color: whitesmoke;

    padding: 10px 40px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 10px;

    // box-shadow: 0px 8px 90px #006cfa;
    outline: none;
    border: none;
    transition: 0.8s;

    &:hover {
        box-shadow: 0px 8px 40px #10294a;
        cursor: pointer;
    }
    &:active {
        transform: scale(0.8);
    }
}
