

.services-boxes{
    /* background-color: coral; */
}

.main-title{
    margin-top: 70px;
    font-size: 2.8rem;
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

.container-1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
}