.history-box{
      background-color: #d03d3d;
      width: 90%;
      display: table;
      margin: 0 auto;
      vertical-align: center;    

      .row1
      {
        background-color: green;
        display: flex;
        gap:20px;
      }
}

  