.history-box{
      background-color: #7878CC;
      border-radius: 10px;
      width: 70%;
      display: table;
      margin: 0 auto;
      vertical-align: center;  
      padding: 10px;
       
      

      .his1
      {
        // background-color: ;
        display: flex;
        gap:18%;
        padding: 10px;
        border: 1px solid white;
        border-radius: 10px;
        margin: 5px;
      }

      .his1:nth-child(even)
      {
        background-color: #7cbddd;
      }
}

  